body {
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    background-color: gray;
}

.jrække {
    display: flex;
    background-color: lightgray;
}
  
.jkolonne {
    flex: 50%;
    border: solid;
}

.jbillede {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jprofilbillede {
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    object-position: 25% 50% 25%; 
    border-radius: 50%;
    border: solid;
}

.input {
    width: 100%;
}