.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.flex-container {
  display: flex;
  margin: auto;
}

.Lflexchild {
  flex: 1;
  margin: 5px;
  background-color: lightgray;
  padding: 10px;
  margin-left: 200px;
}

.searchbar {
  width: 500px;
}

.Loverskrift2 {
  margin-left: 245px;
  margin-top: 100px;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

.Loverskrift3 {
  margin-left: 245px;
  margin-top: 100px;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

.Lcontent {
  flex: 1;
  background-color: #818181;
  margin-left: 245px;
  height: 200px;
}
.Lcontent1 {
  flex: 1;
  background-color: #818181;
  margin-left: 100px;
  margin-right: 100px;
}

.Lcontent2 {
  flex: 1;
  background-color: #818181;
  margin-right: 100px;
}

.Lstack1 {
  background-color: #818181;
  margin-left: 245px;
  margin-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
}

.Lstack2 {
  background-color: #818181;
  margin-left: 245px;
  margin-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  height: 30px;
}

.Lstack3 {
  background-color: #818181;
  margin-left: 245px;
  margin-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  height: 30px;
}

.Lstack4 {
  background-color: #818181;
  margin-left: 245px;
  margin-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  height: 30px;
}

.Lstack5 {
  background-color: #818181;
  margin-left: 245px;
  margin-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  height: 30px;
}

.lsettings {
  margin-top: 500px;
}
