.lightmode {
  --base-color: #f5f5f5;
  --base-variant: #CDCDCD;
  --text-color: #111528;
  --secondary-text: #232738;
  --cta-color: #9C2424;
  --cta-hover: #bb1d1d;
  --accent-color: #3a435d;
  --pie-tert: #c5c5c5;
  --tertiary-color: #333;
}

.darkmode {
  --base-color: #1e1e1f;
  --base-variant: #161616;
  --text-color: #f1f1f1;
  --secondary-text: #cccccc;
  --cta-color: #9C2424;
  --cta-hover: #bb1d1d;
  --accent-color: #3a435d;
  --pie-tert: #c5c5c5;
  --tertiary-color: #b4b1b1;
}

.deepmode {
  --base-color: #1a0013;
  --base-variant: deeppink;
  --text-color: #ffffff;
  --secondary-text: #e6d6d6;
  --cta-color: deeppink;
  --cta-hover: rgb(187, 9, 104);
  --accent-color: rgb(59, 9, 36);
  --pie-tert: #fdfdfd;
  --tertiary-color: #ffffff;
}

/* Main styles */

* {
  box-sizing: border-box;
}

.justify-boi {
  justify-content: space-between;
}

html,
#app {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--base-variant);
  color: var(--tertiary-color);
  margin: 0;
  height: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary-text);
}

h2 {
  color: var(--tertiary-color);
  text-align: center;
}

/* Login styles */
.loggerDiv {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-variant);
  font-family: Arial, sans-serif;
  margin: 0;
}

.login-container {
  background-color: var(--base-color);
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--pie-tert);
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: var(--cta-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--cta-hover);
}

.forgot-password {
  margin-top: 15px;
}

.forgot-password a {
  text-decoration: none;
  color: var(--cta-color);
}

.forgot-password a:hover {
  color: var(--cta-hover);
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper .input-field {
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 0px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

/* Navigation */

.sidenav {
  max-width: 15rem;
  width: 100%;
  height: 100%;
  background-color: #9C2424;
  overflow-x: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sidenav a:last-of-type {
  margin-top: auto;
}

.sidenav a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
  display: block;
  font-family: Arial, Helvetica, sans-serif
}

.sidenav a:hover {
color: #000;
}

.jimbojabbo {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
}

.jimbojabbo img {
  width: 8rem;
  height: auto;
}

.jimbojabbo p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Burgermenu */

/* Burger menu container */
.burger-menu-container {
  display: none;  /* Skjult som standard */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #9C2424;
  z-index: 1000;
  padding: 1rem;
  width: 100%;
}

/* Burger menu ikon (tre linjer) */
.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  justify-content: center;
}

.burger-menu-logo{
display: flex;
flex-direction: row;
justify-content: space-between;


}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}

/* Burger-menu links (skjult som standard) */
.burger-menu-links {
  display: flex;  /* Brug display: flex når menuen er åben */
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  color: #fff;
  padding: 1rem;
  width: 100%;
}

.burger-menu-links a {
  text-decoration: none;
  color: #fff;
  background-color: none;
}

/* Main */
.main {
  flex-grow: 1;
  padding: 1rem;
}

.main > * {
  max-width: 100rem;
  margin: 1rem auto;
}

.icons {
  place-content: center;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: var(--accent-color);
  background: #8C8C8C;
  border: none;
  outline: none;
  border-radius: 50%;
  text-decoration: none;
}

.icon-button i {
  font-size: 1.25rem;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: white;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.flex-container {
  display: flex;
}

.h-100 {
  height: 100%;
}

.Lflexchild {
  flex: 1;
  margin: 5px;
  background-color: var(--base-variant);
  padding: 10px;
}

.searchbar {
  width: 500px;
}

.Loverskrift2 {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.Loverskrift3 {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

.Lcontent {
  flex: 1;
  background-color: var(--base-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 10rem;
  padding: 1rem;
}

#home-div {
  gap: 1rem;
}

.lsettings {
  margin-top: 500px;
}

/* .charts {
  display: flex;
  place-content: center;
  flex-flow: wrap;
  gap: 2rem;
}

.pie {
  flex: 1 0 225px;
  max-width: 10rem;
  border-radius: 50%;
  aspect-ratio: 1;
  background-image: radial-gradient(
      var(--base-color) 0 40%,
      transparent 40% 70%,
      var(--base-color) 70%
    ),
    conic-gradient(
      var(--secondary-text) 0% 21%,
      var(--accent-color) 21% 40%,
      var(--pie-tert) 40% 100%
    );
}

.legends {
  font-size: 0.9rem;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 1rem;
}

.legends span {
  position: relative;
  padding-inline-start: 1.25rem;
}

.legends span::before {
  position: absolute;
  top: 0.15rem;
  left: 0;
  content: "";
  width: 0.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.legends span:nth-child(1)::before {
  background-color: var(--secondary-text);
}

.legends span:nth-child(2)::before {
  background-color: var(--accent-color);
}

.legends span:nth-child(3)::before {
  background-color: var(--pie-tert);
} */

/* Stacks */
.stackList {
  background-color: var(--base-color);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: max-content;
}

.stackList table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  table-layout: auto;
}

.stackList thead {
  background-color: var(--base-variant);
  color: var(--text-color);
}

.stackList tr {
  width: 100%;
}

.stackList th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--pie-tert);
  min-width: 5rem;
}

.status.active {
  color: rgb(13, 199, 22);
}

.status.inactive {
  color: rgb(192, 27, 27);
}

.clickable-row:hover {
  background-color: var(--base-variant);
}

.clickable-row {
  cursor: pointer;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  top: 50%;
  right: 50%;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(192, 27, 27);
  transition: 0.4s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: var(--base-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(13, 199, 22);
}

input:checked + .slider:before {
  transform: translateX(24px);
}

#newProjectForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

input[type='text'],
select {
  padding: 10px;
  border: 1px solid var(--pie-tert);
  border-radius: 4px;
}

#newStackButton {
  display: inline-flex;
  height: 2.25rem;
  padding: 0;
  background-color: var(--cta-color);
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.2rem;
  
  text-decoration: none;
}

#newStackButton:hover {
  background-color: var(--cta-hover);
}

.stack-button-div {
  display: flex;
  justify-content: end;
}

.button-text,
.button-icon {
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  color: white;
  height: 100%;
  text-decoration: none;
}

.button-icon {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.08);
}

.newStack {
  width: 25%;
  margin: 50px auto;
  background-color: var(--base-color);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  position: relative;
  background-color: black;
  border-radius: 100%;
  height: 9rem;
  width: 9rem;
  margin-block: auto;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  border: solid;
}

#profile-div {
  gap: 2rem;
  padding: 1rem;
}

#profile-div label {
  font-weight: 400;
  font-size: 1rem;
}

.profile-form input {
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}

.name-input,
.email-input,
.phone-input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-form label {
  margin-right: 1rem;
  font-weight: bold;
  width: 10rem;
}

.settings-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--base-color);
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.settings-btn:hover {
  background-color: var(--base-variant);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-top: 12.5px;
  margin-left: 12.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--pie-tert);
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: var(--base-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#profile-div {
  gap: 2rem;
  padding: 1rem;
}

#password-div label {
  font-weight: 400;
  font-size: 1rem;
}

.password-form input {
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}

.cp-input,
.np-input,
.rnp-input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.password-form label {
  margin-right: 1rem;
  font-weight: bold;
  width: 15rem;
}

#new-password-button {
  display: inline-flex;
  height: 2rem;
  padding: 0;
  background-color: var(--cta-color);
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

#new-password-button:hover {
  background-color: var(--cta-hover);
}

.accordion {
  cursor: pointer;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: var(--base-color);
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-active,
.accordion:hover {
  background-color: var(--base-variant);
}

#create-button {
  width: 10rem;
}


.admin-container{



}

/* Create user */

.create-user {
  width: 300px;
  margin: auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

.create-user h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #9C2424;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--cta-hover);
}

.user-list-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
}
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-table th {
  background-color: #9C2424;
  color: white;
  padding: 12px 15px;
  text-align: left;
  font-size: 16px;
}

.user-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd; /* Grå kant for cellerne */
  font-size: 14px;
}

/* Alternativ række-baggrund */
.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effekt på rækken */
.user-table tr:hover {
  background-color: #f1f1f1;
}

/* Slet knap */
.delete-btn {
  background-color: #f44336; /* Rød baggrund */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #d32f2f; /* Mørkere rød ved hover */
}

.delete-btn:focus {
  outline: none; /* Fjerner fokusmarkeringen fra knappen */
}

/* Responsiv design */
@media (max-width: 768px) {
  .sidenav {
    display: none;  /* Skjuler den oprindelige menu på små skærme */
  }
  .burger-menu-container {
    display: block;  /* Vis burger menuen på små skærme */
  .user-table {
    font-size: 12px;
  }

  .user-table th, .user-table td {
    padding: 8px;
  }

  .delete-btn {
    padding: 6px 12px;
    font-size: 12px;
  }
}

